<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>
  <div
  class="message-container"
  >
    <h1>
      <%= title %>
    </h1>
    <p>
      투표가 성공적으로 생성되었습니다.
    </p>
    <button
    class="goBack-button"
    >
      돌아가기
    </button>
  </div>
  <script>
    const goBackButton = document.querySelector(".goBack-button");
    goBackButton.addEventListener("click", function () {
      location.href = "/";
    });
  </script>
</body>
</html>
